@model ProgrammingChallenge6._1.Models.Student

<form asp-controller="Student" asp-action="AddStudent"
      method="post">
    <label asp-for="StudentName"></label>
    <input asp-for="StudentName" />
    <br />
    <button type="submit"> Add Student </button>
</form>