@model ProgrammingChallenge6._1.Models.Department
<form asp-controller="Department" asp-action="AddDepartment"
      method="post">
    <label asp-for="DepartmentName"></label>
    <input asp-for="DepartmentName" />
    <br />
    <label asp-for="phoneNumber"></label>
    <input asp-for="phoneNumber" />
    <br />
    <label asp-for="email"></label>
    <input asp-for="email" />
    <br />
    <label asp-for="office"></label>
    <input asp-for="office" />
    <br />
    <button type="submit"> Add Department </button>
</form>