@model IEnumerable<ProgrammingChallenge6._1.Models.Department>

<p> <a asp-action="AddDepartment">Add Department</a> </p>

@{
    if (Model.Count() < 1)
    {
        <p>No Department Found.</p>
    }
    else
    {
        <h3>All Departments</h3>
        <table border="1">
            <tr>
                <th>Department ID</th>
                <th>Department Name</th>
            </tr>
            @foreach (var department in Model)
            {
                <tr>
                    <td>@department.DepartmentID</td>
                    <td>@department.DepartmentName</td>
                </tr>
            }
        </table>
    }
}