@model ProgrammingChallenge6._1.ViewModels.ClubAddClubViewModel

<form asp-controller="Club" asp-action="AddClub"
      method="post">
    <label asp-for="Club.ClubName"></label>
    <input asp-for="Club.ClubName" />
    <br />
    <label asp-for="Club.No_of_Students"></label>
    <input asp-for="Club.No_of_Students" />
    <br />

    <label asp-for="Department.DepartmentName"></label>
    <select asp-for="Department.DepartmentID"
            asp-items="@Model.DepartmentList"></select>

    <br />

    <button type="submit"> Add Club </button>
</form>